 {{!-- <header>
        <div class="profile" style="padding-top: 5px;">
         <a href="/dashboard" data-profile><img src="/images/placeholder.png" width="40px" height="40px"></a>
        </div>
        <div class="tasks">
            <a href="/dashboard/tasks" data-tasks><i class="fa fa-plus blue" aria-hidden="true"></i></a>
        </div>
        <div class="contacts">
            <a href="/dashboard/contacts" data-contacts><i class="fa fa-address-book-o blue" aria-hidden="true"></i></a>
        </div>
        <div class="settings">
            <a href="/dashboard/settings" data-settings><i class="fa fa-cog gray" aria-hidden="true"></i></a>
        </div>
    </header> --}}

    <header>
        <div class="ui four item menu">
            <a href="/dashboard" class="active item" data-profile><img src="/images/placeholder.png" alt="failed to load image"></a>
            <a href="/dashboard/tasks" class="item" data-tasks><i class="blue large plus icon"></i></a>
            <a href="/dashboard/contacts" class="item" data-contacts><i class="blue large address book icon"></i></a>
            <a href="/dashboard/settings" class="item" data-settings><i class="blue loading big setting icon"></i></a>
        </div>


    </header>