
        <div class="tasks">
            <a href="/task" data-tasks><i class="fa fa-plus blue" aria-hidden="true"></i></a>
        </div>
        <div class="contacts">
            <a href="/contacts" data-contacts><i class="fa fa-address-book-o blue" aria-hidden="true"></i></a>
        </div>
        <div class="integrations">
            <a href="/integrations" data-settings><i class="fa fa-cloud blue" aria-hidden="true"></i></a>
        </div>
