 <header>
        <div class="profile">
         <a href="/dashboard" data-profile><img src="/images/placeholder.png" width="40px" height="40px"></a>
        </div>
        <div class="tasks">
            <a href="/dashboard/tasks" data-tasks><i class="fa fa-tasks blue" aria-hidden="true"></i></a>
        </div>
        <div class="contacts">
            <a href="#" data-contacts><i class="fa fa-address-book-o blue" aria-hidden="true"></i></a>
        </div>
        <div class="settings">
            <a href="#" data-settings><i class="fa fa-cog gray" aria-hidden="true"></i></a>
        </div>
    </header>