    {{> header}}
    <form action="" method="POST" class="ui form container" data-create-task>
        <div class="sixteen wide field">
            <label for="title">Title</label>
            <input type="text" name="title">
        </div>
        <div class="sixteen wide field">
            <label>Description</label>
            <textarea name="content"rows="2"></textarea>
        </div>
        <div class="sixteen wide field">
            <div class="ui sub header">Contacts</div>
            <div class="ui" data-contact-hover style="width: 5%"><i class=" large add user icon"></i></div>
            <div class="ui flowing popup top left transition hidden">
            <div class="ui form">
                <div class="three fields">
                    <div class="field">
                    <label>First Name</label>
                    <input type="text" placeholder="First Name" data-contact-firstname>
                    </div>
                    <div class="field">
                    <label>Last Name</label>
                    <input type="text" placeholder="Last Name" data-contact-lastname>
                    </div>
                    <div class="field">
                    <label>Email Address</label>
                    <input type="email" placeholder="Email Address" data-contact-email>
                    </div>
                </div>
                <button class="ui primary basic button" data-create-contact>Create</button>
                </div>
            </div></div>


            <div class="ui fluid multiple search selection dropdown" data-contact-dropdown>
              <input name="contact" type="hidden">
              <i class="dropdown icon"></i>
              <div class="default text">Contacts</div>
              <div class="menu">
                  {{#each contact}}
                  <div class="item" data-value={{id}}>{{name}}</div>
                  {{/each}}
              </div>
            </div></div>
            <div class="sixteen wide field">
                <label>Date</label>
                    <div class="ui calendar" data-calendar>
                            <div class="ui input left icon">
                              <i class="calendar icon"></i>
                              <input name="enddate" type="text" placeholder="Date/Time">
                            </div>
                        </div></div>
            <input type="submit" value="Submit" class="ui button" data-submit>
    
        </form>
        </body>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui-calendar/0.0.8/calendar.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.10/dist/semantic.min.js"></script>
    <script src="../javascripts/task.js"></script> 

