   {{> header}}
    {{#each tasks}}
        <div class="task-container">
         <a class="ui card" style="width: 100%" href="/">
                <div class="content">
                  <div class="header">{{title}}</div>
                  <div class="meta">{{createdAt}}</div>
                  <div class="description">
                      {{#if location}}
                    <p><strong>Location:</strong> {{location}}</p>
                      {{/if}}
                    <p><strong>Due:</strong> {{due}}</p>
                    <p><strong>Description:</strong> {{#partialContent content}}{{/partialContent}}</p>
                </div>
                </div>
                <div class="extra content"><div class="ui checkbox">
                        <input type="checkbox" name="example">
                        <label>Complete</label>
                      </div></div>
              </a>
              </div>
{{/each}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

