<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Login</title>
</head>
<body>
    <body>
        <div class="container-fluid">
            <h3 data-title>Login to your account</h3>
            <div class="sign-in" data-sign-in>
                <form action="/login">
                    <div class="google hide" data-google>
                        <a class="google-button" href="/auth/google" target="_blank"><i class="fa fa-google" aria-hidden="true"></i>     Log in with Google</a>
                    </div>
                    <div class="email" data-email>
                        <input type="email" name="email" placeholder="Email" id="email-form">
                        <h2 id="email-error" style="display: none;">Incorrect Email Format</h2>
                        <h2 id="user-error" data-user-not-found>User Not Found</h2>
                    </div>
                    <div class="password hide" data-password>
                            <input type="password" placeholder="Password" name="password" id="pwd-form">
                            <h2 id="password-error" style="display: none;">Wrong Password</h2>
                    </div>
                        <button type="submit" data-continue="">Continue</button>
                </form>
                <h5 class="sign-up" data-sign-up>Don't have an account? <a href="/signup">Sign up</a></h5>
            </div>
        </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="javascripts/test.js"></script>
    </body>
</html>
