 <header>
        <div class="profile" style="padding-top: 5px;">
         <a href="/dashboard/profile" data-profile><img src={{img}} width="40px" height="40px"></a>
        </div>
        {{> header}}
    </header>
<div class="container">
<a class="ui card" style="width: 100%" href="/" id="card">
                <div class="content">
                  <div class="task-header">
                    Account Settings</i>
                      </div>
                  <div class="description">
                    <p><strong>Name:</strong> {{name}}</p>
                    <p><strong>Email:</strong> {{email}}</p>
                </div>
                <div class="ui one buttons">
                    <div class="ui basic red button">Logout</div>
                    </div>
                </div>
              </a>
              </div>