    <form action="/signup" method="POST">
        <input type="text" name="firstName">firstname
        <input type="text" name="lastName">lastname
        <input type="email" name="email">email
        <input type="password" name="password" id="">password
        <button type="submit">Submit</button>
    </form>
    <div class="google" data-google>
                        <a class="google-button" href="/users/google"><i class="fa fa-google" aria-hidden="true"></i>     Log in with Google</a>
                    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="javascripts/signup.js"></script>
