    <form action="/signup" method="POST">
        <input type="text" name="firstName">firstname
        <input type="text" name="lastName">lastname
        <input type="email" name="email">email
        <input type="password" name="password" id="">password
        <button type="submit">Submit</button>
    </form>
    <div class="google" data-google>
                        <a class="google-button" href="/auth/google"><i class="fa fa-google" aria-hidden="true"></i>     Log in with Google</a>
                    </div>
      <div id="error-box" class="ui container"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.10/dist/semantic.min.js"></script>
<script src="javascripts/signup.js"></script>
