/* Adjust layout for tablet and computer */
@media (min-width: 678px) {
    .logo {
        grid-row: 1/2;
        grid-column: 1/2;
    }
    .top-sign-up {
        grid-row: 2/3;
        grid-column: 1/3;
    }
    .salesforce-feature {
        grid-row: 3/4;
        grid-column: 1/2;
    }
    .salesforce-feature-pic {
        grid-row: 3/4;
        grid-column: 2/3;
    } 
    .google-calendar-feature {
        grid-row: 4/5;
        grid-column: 2/3;
    }
    .google-calendar-feature-pic {
        grid-row: 4/5;
        grid-column: 1/2;
    } 
    .task-storage-feature {
        grid-row: 5/6;
        grid-column: 1/2;
    }
    .task-storage-feature-pic {
        grid-row: 5/6;
        grid-column: 2/3;
    } 
    .chrome-extention {
        grid-row: 6/7;
        grid-column: 2/3;
    }
    .chrome-extention-pic {
        grid-row: 6/7;
        grid-column: 1/2;
    }
    .coders {
        grid-row:   7/8;
        grid-column: 1/3;
        justify-items: center;
        align-content: center;
        display: grid;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: 1fr;         
    }
    .head {
        grid-row: 1/2;
        grid-column: 1/2;
    }
    .tyler {
        grid-row: 2/3;
        grid-column: 1/2;
    }
    .eric {
        grid-row: 3/4;
        grid-column: 1/2;
    }
    .rich {
        grid-row: 4/5;
        grid-column: 1/2;
    }
    .bottom-sign-up {
        grid-row: 8/9;
        grid-column: 1/3;
        text-align: center;
        background: url("images/tan_stone.jpg");
    }     
}