.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 300px 400px 400px 400px 400px 600px;
}
.logo {
     grid-row: 1;
     grid-column: 1/2;
 }
.sign-in-button {
    justify-self: center;
    align-self: center;
    grid-row: 1;
    grid-column: 2/3;
}


.backdrop {
    grid-row: 2/3;
    grid-column: 1/3;
    background-color: aqua;
    /* background-image: src="./images/brick_backdrop.jpg" alt="brick wall"; */
}

.feature-div {
    background-color: aquamarine;
}
.salesforce-feature {
    grid-row: 3/4;
    grid-column: 1/2;
    justify-self: center;
    align-self: center;    
    /* background-color: darkgreen; */
}
.salesforce-feature-pic {
    grid-row: 3/4;
    grid-column: 2/3;
    justify-self: center;
    align-self: center;    
}
.google-calendar-feature {
    grid-row: 4/5;
    grid-column: 2/3;
    justify-self: center;
    align-self: center;    
    background-color: chocolate;
}
.google-calendar-feature-pic {
    grid-row: 4/5;
    grid-column: 1/2;
    justify-self: center;
    align-self: center;
}
.task-storage-feature {
    grid-row: 5/6;
    grid-column: 1/2;
    justify-self: center;
    align-self: center;
    background-color: aquamarine;
}
.task-storage-feature-pic {
    grid-row: 5/6;
    grid-column: 2/3;
    justify-self: center;
    align-self: center;
}

.chrome-extention {
    grid-row: 6/7;
    grid-column: 2/3;
    justify-self: center;
    align-self: center;
    background-color: aquamarine;
}
.chrome-extention-pic {
    grid-row: 6/7;
    grid-column: 1/2;
    justify-self: center;
    align-self: center;
}

.coders {
    grid-row:   7/8;
    grid-column: 1/3;
    justify-self: center;

}
.coders img {
    width: 150px;
    border-radius: 50%;
}