body {
    font-family: 'Rajdhani', sans-serif;
}

/* Initial grid layout - mobile first */
.wrapper {
    display: grid;
    grid-template-rows: 240px auto auto auto auto auto auto auto auto auto auto auto;
    /* grid-template-rows: 200px auto; */
    grid-template-columns: 50% 50%;
}
/* --------------------------------------- */

/* Logo and sign-up area formatting */
.logo {
     grid-row: 1/2;
     grid-column: 1/3;
     justify-self: center;
     align-self: end;
     height: 240px;
  }
.welcome {
    color: #ad5f43;
    text-align: center;
    font-size: 35px;
}
.sign-up-btn {
    text-align: center;
    font-size: 16px;
    color: #ad5f43;
    padding: 2px;
    width: 20%;
}
.sign-up-btn:hover {
    cursor: pointer;
    color: white;
    background-color: #ad5f43;
}
input {
    width: 50%;
    border: 2px solid #9c201e;
    font-size: 18px;

}
.top-sign-up {
    grid-row: 2/3;
    grid-column: 1/3;
    /* background: url("images/tan_stone.jpg"); */
    padding-bottom: 20px;
}
.feature_bkgrnd {
    background-color: #d6b1a52e;
    color: #9c201e;
}
.red-text {
    color: #9c201e;
}
/* -------------------------------------- */


/* Layout feature description area with header
and text in two rows */
.feature-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50% 50%;
}
.feature-header {
    grid-row: 1;
    grid-column: 1/2;
    font-size: 24px;
    align-self: end;
}
.feature-text {
    grid-row: 2;
    grid-column: 1/2;
    font-size: 20px;
    margin: 10px;
}
/* --------------------------------------- */

/* Centers text in various grid areas as needed */
.center {
    text-align: center;
}
/* -------------------------------------- */


/* Defines area for Salesforce description and pic */
.salesforce-feature {
    grid-row: 3/4;
    grid-column: 1/3;
}
.salesforce-feature-pic {
    grid-row: 4/5;
    grid-column: 1/3;
}
/* ----------------------------------------- */
/* Defines area for Google Calendar description and pic */
.google-calendar-feature {
    grid-row: 5/6;
    grid-column: 1/3;
}
.google-calendar-feature-pic {
    grid-row: 6/7;
    grid-column: 1/3;
}
/* ---------------------------------------- */

/* Defines area for Task Storage description and pic */
.task-storage-feature {
    grid-row: 7/8;
    grid-column: 1/3;
}
.task-storage-feature-pic {
    grid-row: 8/9;
    grid-column: 1/3;
}
/* -------------------------------------- */

/* Defines area for Chrome Extention description and pic */
.chrome-extention {
    grid-row: 9/10;
    grid-column: 1/3;
}
.chrome-extention-pic {
    grid-row: 10/11;
    grid-column: 1/3;
}
/* ------------------------------------- */

 /* Defines area for Team pics and info */
.coders {
    grid-row:   11/12;
    grid-column: 1/3;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
}
.coders img {
    width: 25%;
    border-radius: 50%;
}
/* -------------------------------- */
.head {
    grid-row: 1/2;
    grid-column: 1/2;
}
.tyler {
    grid-row: 2/3;
    grid-column: 1/2;
}
.eric {
    grid-row: 3/4;
    grid-column: 1/2;
}
.rich {
    grid-row: 4/5;
    grid-column: 1/2;
}

/* Layouts hiden dropdown menu for team members */
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    color: #9c201e;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
.dropdown-content img {
    border-radius: 0px;
}
.dropdown:hover .dropdown-content {
    display: block;
}
/* ---------------------------------------- */
.bottom-sign-up {
    grid-row: 12/13;
    grid-column: 1/3;
    text-align: center;
    padding-bottom: 20px;
    /* background: url("images/tan_stone.jpg"); */
}
