body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* Initial grid layout - mobile first */
.wrapper {
    display: grid;
    grid-template-rows: 200px 200px auto auto auto auto auto 150px;
    grid-template-columns: 50% 50%;
}
/* --------------------------------------- */

/* Logo and sign-up area formatting */
.logo {
     grid-row: 1/2;
     grid-column: 1/3;
  }
.welcome {
    color: #9c210e;
    text-align: center;
    font-size: 35px;
}
.sign-up-btn {
    text-align: center;
    font-size: 20px;
    color: #9c210e;
}
.top-sign-up {
    grid-row: 2/3;
    grid-column: 1/3;
    text-align: center;
    background: url("images/tan_stone.jpg");
}
.feature_bkgrnd {
    background-color: #6c53361f;
    color: #9c210e;
}
.red-text {
    color: #9c210e;
}
/* -------------------------------------- */

/* Layout feature description area with header
and text in two rows */
.feature-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:20% 80%;
}
.feature-header {
    grid-row: 1;
    grid-column: 1/2;
}
.feature-text {
    grid-row: 2;
    grid-column: 1;
    font-size: 20px;
}
/* --------------------------------------- */

/* Centers text in various grid areas as needed */
.center {
    text-align: center;
}
/* -------------------------------------- */


/* Defines area for Salesforce description and pic */
.salesforce-feature {
    grid-row: 3/4;
    grid-column: 1/3;
}
.salesforce-feature-pic {
    grid-row: 4/5;
    grid-column: 1/3;
}
/* ----------------------------------------- */
/* Defines area for Google Calendar description and pic */
.google-calendar-feature {
    grid-row: 5/6;
    grid-column: 1/3;
}
.google-calendar-feature-pic {
    grid-row: 6/7;
    grid-column: 1/3;
}
/* ---------------------------------------- */

/* Defines area for Task Storage description and pic */
.task-storage-feature {
    grid-row: 7/8;
    grid-column: 1/3;
}
.task-storage-feature-pic {
    grid-row: 8/9;
    grid-column: 1/3;
}
/* -------------------------------------- */

/* Defines area for Chrome Extention description and pic */
.chrome-extention {
    grid-row: 9/10;
    grid-column: 1/3;
}
.chrome-extention-pic {
    grid-row: 10/11;
    grid-column: 1/3;
}
/* ------------------------------------- */

 /* Defines area for Team pics and info */
.coders {
    grid-row:   11/12;
    grid-column: 1/3;
}
.coders img {
    width: 25%;
    border-radius: 50%;
}
/* -------------------------------- */


/* Layouts hiden dropdown menu for team members */
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
/* ---------------------------------------- */
.bottom-sign-up {
    grid-row: 12/13;
    grid-column: 1/3;
    text-align: center;
    background: url("images/tan_stone.jpg");
}
/* Adjust layout for tablet and computer */
@media (min-width: 678px) {
    .logo {
        grid-row: 1/2;
        grid-column: 1/2;
    }
    .top-sign-up {
        grid-row: 2/3;
        grid-column: 1/3;
    }
    .salesforce-feature {
        grid-row: 3/4;
        grid-column: 1/2;
    }
    .salesforce-feature-pic {
        grid-row: 3/4;
        grid-column: 2/3;
    } 
    .google-calendar-feature {
        grid-row: 4/5;
        grid-column: 2/3;
    }
    .google-calendar-feature-pic {
        grid-row: 4/5;
        grid-column: 1/2;
    } 
    .task-storage-feature {
        grid-row: 5/6;
        grid-column: 1/2;
    }
    .task-storage-feature-pic {
        grid-row: 5/6;
        grid-column: 2/3;
    } 
    .chrome-extention {
        grid-row: 6/7;
        grid-column: 2/3;
    }
    .chrome-extention-pic {
        grid-row: 6/7;
        grid-column: 1/2;
    }
    .coders {
        grid-row:   7/8;
        grid-column: 1/3;         
    }
    .bottom-sign-up {
        grid-row: 8/9;
        grid-column: 1/3;
        text-align: center;
        background: url("images/tan_stone.jpg");
    }     
        /* grid-template-columns: 50% 50%; */
        /* grid-template-rows: 200px 200px auto auto auto auto auto 200px 150px; */
        /* grid-template-areas:
            "top-logo"
            "sign-up sign-up"
            "sf-feat sf-pic"
            "goog-pic goog-feat"
            "task-feat task-pic"
            "chrome-pic chrome-feat"
            "team team"
            "btm-sign-up btm-sign-up" */
        
    }