html {
  box-sizing: border-box;
  font-family: Proxima Nova, sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #efefee;
}

.error {
  color: #e41600;
}

.container-fluid {
  width: 500px;
  height: 500px;
  box-shadow:0 4px 16px rgba(0,0,0,.2);
  margin: 130px auto 0 auto;
  background-color: white;
}

.header img {
  display: block;
  margin: 10% auto 0 auto;
  height: 55px;
  width: 55px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px
}

.sign-in form {
  margin-top: 45px;
}

.sign-in input {
  border: none;
  border-bottom: 1px solid #e0e0e0;
}

.sign-in input:focus {
  border-bottom: 1px solid #00a2ff;
  outline: none;
}

.sign-in div input {
  display: block;
  margin: 30px auto;
  width: 75%;
}

.sign-in button, 
button:focus {
  background-color: #00a2ff;
  box-shadow:0 4px 16px rgba(0,0,0,.2);
  width: 100px;
  height: 35px;
  border-color: #0088ff;
  margin-top: 20px;
  margin-left: 70%;
  color: white;
  outline: none;
}

.sign-in h5 {
  margin-top: 40px;
}

.google {
  height: 50px;
  display: flex;
  width: 85%;
  margin: 0 auto;
  border-radius: 22px;
  background-color: #4184f3;
  justify-content: center;
  align-items: center;
}

.google-button {
  color: white;
  display: block;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  width: 100%;
}

.sign-up {
  color: #4d5054;
  text-align: center;
  font-size: 14px;
}

.sign-up a {
  text-decoration: none;
  color: #00a2ff;
}

.reset-user {
  text-align: center;
  display: block;
  margin-top: -20px;
}

.logo + h3 {
  font-family: Proxima Nova, sans-serif;
  color: rgba(77, 80, 85, 0.842);
  text-align: center;
  font-size: 25px;
  margin-top: 17px;
}

.logo img {
  margin-top: 20px;
}

.reset {
  margin-top: 70px;
  text-align: center;
}

.reset a:hover{
  cursor: pointer;
}

.hide {
  display: none;
}

@media screen and (max-width: 600px){

  .container-fluid {
      width: 100%;
      height: 100vh;
      margin: 0;
  }
  .sign-in button {
      display: block;
      margin: 60px auto 0 auto;
  }

}

/* Chrome extension layout */
@media screen and (max-width: 319px) {
  html, body {
    background-color: white;
  }

  .container-fluid {
    box-shadow: none;
  }

  h3 {
    padding-top: 80px;
  }

  .sign-in button {
    margin-top: 60px
  }

  .sign-up h5 {
    margin-top: 150px
  }

  .logo img {
    margin-top: 110px;
    height: 140px;
    width: 160px;
  }

}

#password-error {
  display: none;
  color: red;
  font-size: 18px;
}
#email-error {
  display: none;
  color: red;
  font-size: 18px;
}
#user-error {
  display: none;
  color: red;
  font-size: 18px;
}
