html, body{
    width:100%;
    height:100%;
    box-sizing: border-box;
    background-color:eee;
    font-family: Arial, Helvetica, sans-serif;
}

body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, menu, nav, section {
    margin: 0;
    padding: 0;
  }

*,*:before, *:after{
    box-sizing: inherit;
}

header {
    display: flex;
    position: fixed;
    top: 0px;
    justify-content: space-around;
    font-size: 35px;
    border-bottom: 1px solid #dadada;
    box-shadow: 0 7px 20px -5px rgba(0,0,0,0.2);
    min-height: 50px;
    margin-bottom: 20px;
    z-index: 9999;
    width: 100%;
    background-color: white;
}

.profile {
  padding-top: 5px;
}

.icon-background {
  margin: 0 auto 20px auto;
  background-color: #eff6f9;
  border-radius: 50%;
  height: 115px;
  width: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  text-decoration: none;
  display: block;
  margin-top: 5px;
}

.item:hover {
  text-decoration: none;
  border: 1px solid #ccc;
  border-radius: 2%;
}

.tile {
  margin-top: 35px;
  font-size: 95px;
  height: 245px;
  text-align: center;
}

.tile h4 {
  font-size: 24px;
  color: #4D5055;
  margin-bottom: 5px;
}

.tile p {
  font-size: 18px;
  color: rgba(0,0,0,0.44);
}

.container {
  margin-top: 62px;
}

.ui.container {
  margin:0px;
}

#primaryForm {
  margin-top: 22px;
}

#error-box {
  margin-top:10px;
}
.console {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 27px;
  margin-top: 65px;
}


.label {
  margin-left: 18px;
}

.content, .content h2, .content p {
  margin-bottom: 15px;
  margin-left: 10px;
  max-width: 292px;
}

.content h2 {
  margin-top: 20px;
  font-size: 28px;
}

.task-header {
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  font-weight: 700;
  color: black;
  word-break: break-all;
}

.salesforce-task::before {
  content: attr(data-icon);
  font-family: "FontAwesome";
  color: #00a2ff;
}

#filter-icon-center::before{
  top: 70%;
}

.error {
  color: #e41600;
}

.description {
  word-break: break-all;
}

.tasks, .contacts, .integrations {
  padding-top: 7.5px;
  
}

.blue {
  color: #00a2ff;
}

.gray {
  color: #80808091
}

header a {
  padding-top: 5px;
}

header img {
  border-radius: 50%;
}

.container-fluid {
  width: 500px;
  height: 500px;
  box-shadow:0 4px 16px rgba(0,0,0,.2);
  margin: 130px auto 0 auto;
  background-color: white;
}

.ui.card:hover {
  cursor:default !important;
}
  .header img {
    display: block;
    margin: 10% auto 0 auto;
    height: 55px;
    width: 55px;
  }
  
  .sign-in form {
    margin-top: 45px;
  }
  
  .sign-in input {
    border: none;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .sign-in input:focus {
    border-bottom: 1px solid #00a2ff;
    outline: none;
  }
  
  .sign-in div input {
    display: block;
    margin: 30px auto;
    width: 75%;
  }
  
  .sign-in button, 
  button:focus {
    background-color: #00a2ff;
    box-shadow:0 4px 16px rgba(0,0,0,.2);
    width: 100px;
    height: 35px;
    border-color: #0088ff;
    margin-top: 1%;
    margin-left: 70%;
    color: white;
    outline: none;
  }
  
  .google {
    height: 50px;
    display: flex;
    width: 65%;
    margin: 0 auto;
    border-radius: 22px;
    background-color: #4184f3;
    justify-content: center;
    align-items: center;
  }
  
  .google-button {
    color: white;
    display: block;
    font-size: 22px;
    text-decoration: none;
  }
  
  .sign-up {
    color: #4d5054;
    text-align: center;
    font-size: 14px;
  }
  
  .sign-up a {
    text-decoration: none;
    color: #00a2ff;
  }
  
  h3 {
    font-family: Proxima Nova, sans-serif;
    color: rgba(77, 80, 85, 0.842);
    text-align: center;
    font-size: 25px;
    padding-top: 80px;
  }
  
  .reset {
    margin-top: 70px;
    text-align: center;
  }
  
  .reset a:hover{
    cursor: pointer;
  }
  
  .hide {
    display: none;
  }

  .two {
    padding-top: 20px;
  }
  
  @media screen and (max-width: 600px){
  
    .container-fluid {
        width: 100%;
        height: 100vh;
        margin: 0;
    }
    .sign-in button {
        display: block;
        margin: 60px auto 0 auto;
    }
  
  }
  
  #password-error {
    display: none;
    color: red;
    font-size: 18px;
  }
  #email-error {
    display: none;
    color: red;
    font-size: 18px;
  }
  #user-error {
    display: none;
    color: red;
    font-size: 18px;
  }
  